<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body class="editBody">
    <nav>
        <%- include('./partials/nav.ejs') %>
    </nav>
    <form  method="POST" action="/home/index/<%=data.id%>?_method=PUT">
        <h1>Adjust-- <%=data.name%> </h1>
        <div class="this">
        <span for="">Name:</span>
        <input type="text" name="name" value="<%=data.name%>"> <br>
        <span for="">Author:</span>
        <input type="text" name="author" value="<%=data.author%>"/><br>
        <span for="">Genre</span>
        <input type="email" name="genre" value="<%=data.genre%>"><br>
        </div>
        <input class="submit" type="submit" value="Update <%=data.name%>"/>
    </form>
</body>
</html>